@font-face {
    font-family: MyFontReg;
    src: url(../MonumentExtended-Regular.otf);
}
@font-face {
    font-family: MyFontBold;
    src: url(../MonumentExtended-Ultrabold.otf);
}
@font-face {
    font-family: MyFontThin;
    src: url(../monument-extended-2.ttf);
}
@font-face {
    font-family: MyFontThick;
    src: url(../monument-extended-3.ttf);
}