.about-main{
    padding: 0 0 5vh 0;
    background-color: $black-dark;
    // z-index: 1;

    &>p{
        text-align: center;
        color: $color-secondary;
        font-family: MyFontThin;
        line-height: 2.5rem;
        font-size: 1.8rem;
        width: 80%;
        margin: 0 auto;
    }

    &__stats{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;
        justify-content: center;
        row-gap: 2rem;
        margin-top: 3rem;

        &__data{
            text-align: center;
            margin-left: 4rem;
            margin-right: 4rem;

            &__number{
                font-size: 4.5rem;
                color: $color-primary;
                font-family: MyFontThin;
            }

            &__heading{
                font-size: 1.2rem;
                color: $color-secondary;
                font-family: MyFontThick;
                margin-top: 0.6rem;
            }
        }
        @media screen and (max-width:768px) {
            &__data{
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }

    &__secondary-heading{

        &>p{
            text-transform: uppercase;
            margin-left: 2.5%;
            color: $color-primary;
            font-size: 1.6rem;
            letter-spacing: 2px;
        }
    }

    &__edu-table{
        margin-bottom: 10rem;

        &__header{
            font-family: MyFontThin;
            width: 95%;
            margin: 0 auto;
            margin-top: 2rem;
            font-size: 2rem;
            padding: 3rem 2rem;
            display: flex;
            border-bottom: 1px solid rgb(205,205,205,0.4);
            

            &>p{
                color: $color-secondary;
                text-transform: uppercase;
                font-size: 1.4rem;
                letter-spacing: 2px;

            }

            &>p:nth-child(1){
                width: 40%;
            }
            &>p:nth-child(2){
                width: 35%;
            }
            &>p:nth-child(3){
                width: 25%;
                text-align: right;
            }
        }

        

        &__data{
            width: 95%;
            margin: 0 auto;
            margin-top: 2rem;
            padding: 3rem 2rem;
            display: flex;
            border-bottom: 1px solid rgb(205,205,205,0.4);
            

            &>p{
                color: $color-secondary;
                font-family: MyFontThick;
                text-transform: uppercase;
                font-size: 1.6rem;

            }

            &>p:nth-child(1){
                width: 40%;
            }
            &>p:nth-child(2){
                width: 35%;
            }
            &>p:nth-child(3){
                width: 25%;
                text-align: right;
            }
        }
        @media screen and (max-width:768px) {
            &__header{
                display: none;
            }
            &__data{
                flex-direction: column;
                gap: 0.5rem;

                &>p:nth-child(1){
                    width: 100%;
                    font-family: MyFontThin;
                    font-size: 2.4rem;
                }
                &>p:nth-child(2){
                    width: 100%;
                    font-family: MyFontThick;
                    font-size: 1.2rem;
                }
                &>p:nth-child(3){
                    width: 100%;
                    font-family: MyFontThin;
                    font-size: 1rem;
                    text-align: left;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        &>p{
            width: 95%;
        }
      }
}