.contact-main{

    &__links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;



        &>a{
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            background-color: $color-secondary;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5rem;
        }
    }

    &__form{
        max-width: 50rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &>input{
            border: none;
            outline: none;
            height: 4.2rem;
            border-radius: 1rem;
            width: 100%;
            padding: 1rem 1rem;
        }

        &>textarea{
            border: none;
            outline: none;
            border-radius: 1rem;
            width: 100%;
            padding: 1rem 1rem;
        }
    }
}