.contact-main{

    &__links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;



        &>a{
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            background-color: $color-secondary;
            color: $black-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5rem;

            &:hover{
                box-shadow: 0 0 10px rgb(220,252,55), 0 0 40px rgb(220,252,55), 0 0 10px rgb(220,252,55); 
            }
        }
    }

    &__success{
        font-family: MyFontThick;
        padding: 12rem 0;
        & h1{
            font-size: 3rem;
        }
        & p{
            font-size: 1.5rem;
            margin-top: 1rem;
        }
    }

    &__form{
        padding: 3rem;
        max-width: 50rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        &>input{
            border: none;
            outline: none;
            height: 4.2rem;
            border-radius: 1rem;
            font-family: MyFontThick;
            width: 100%;
            padding: 1rem 1rem;
        }

        &>textarea{
            border: none;
            outline: none;
            border-radius: 1rem;
            font-family: MyFontThick;
            width: 100%;
            padding: 1rem 1rem;
        }
        &>button{
            width: 50%;
            padding: 2rem 2rem 2rem 2rem;
            font-size: 1.6rem;
            border-radius: 10px;
            background-color: white;
            font-family: MyFontThick;
            color: rgb(22,22,22);
            border: none;
            outline: none;
            &:hover {
                box-shadow: 0 0 10px rgb(220,252,55), 0 0 40px rgb(220,252,55), 0 0 10px rgb(220,252,55);
                background-color: rgb(220,252,55);
                transform: translateY(-3px);
                cursor: pointer;
              }
        }
    }

    &__footer{
        text-align: center;
        background-color: black;
        color: white;
        font-family: MyFontThin;
        padding: 2rem 0;
        font-size: 1.3rem;
    }
}