.home-main{
    overflow: hidden;
    height: 128vh;
    &__content{
        width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;

        &_1{
        position: relative;
        width: 24%;
            &--big_text{
                font-family: MyFontBold;
                font-size: 14vw;
                // font-size: 5rem;
                transform: rotate(-90deg) translate(10%,170%);
                text-transform: uppercase;
                position: absolute;
                right: 0;
                // z-index: 2;
                // transform: translateX(-50%);

                &>span:nth-child(1){
                    color: $color-secondary;
                    display: block;
                    transform: translateX(15%);
                }
                &>span:nth-child(2){
                    color: $color-tertiary;
                    display: block;
                    line-height: 0.9;
                    margin-left: 7rem;
                }
            }
        }

        &_2{
            width: 76%;

            &__outer{
                height: 100vh;
                position: relative;
                &_1{
                    width: 30%;
                    border-radius: 1rem;
                    float: left;
                    margin-left: 15rem;
                    margin-top: 40vh;
                    & img{
                        border-radius: 1rem;
                        width: 100%;
                        overflow: hidden;
                        filter: grayscale(1);
                    }
                }
                
                & p{
                    display: inline-block;
                    width: 70%;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    font-family: MyFontThick;
                    color: $color-secondary;
                    text-align: center;
                    position: absolute;
                    top: 62vh;
                    left: 40%;

                    & span{
                        color: $color-primary;
                    }
                }
            }
            
        }

    }
    @media screen and (max-width: 768px) {
        &__content{
            flex-direction: column;

            &_1{


                &--big_text{
                    top: 4rem;
                    transform: rotate(0) translate(10%,30%);
                    position: inherit;
                    font-size: 14rem;
                }
            }
            &_2{
                margin: 0 auto;
                &__outer{
                    margin: 0 auto;
                    height: auto;
                    &_1{
                        width: 60%;
                        margin: 0 auto;
                        float: none;
                        margin-top: 15rem;
                    }

                    &>p{
                        position: static;
                        display: block;
                        width: 100%;
                        margin: 0 auto;
                        margin-top: 10rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        height: 100vh;
    }
}