.navbar-main{
    padding: 3rem 3rem 3rem 3rem;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgba(22,22,22), rgba(22,22,22,0));
    position: fixed;
    a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 2px;

        &:not(:first-child){
            color: $color-secondary;
        }
    }

    &__logo{
        color: $color-primary;
    }
}