.project-main{
    
    &__row-1{
        margin: 0 auto;
        max-width: 114rem;
        display: flex;
        gap: 4rem;

        &__col-1{
            width: 40rem;
            height: 50px;
            background-color: #fff;
        }

        &__col-2{
            width: 70rem;
            height: 50px;
            background-color: #fff;
        }
    }
}